@{
    ViewData["Title"] = "View Items";
}

@model List<assignment01_gbcbids.Data.Item>

@using Microsoft.AspNetCore.Identity
@using assignment01_gbcbids.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



<!-- Background Image -->
<div class="background-img">
    <img src="~/assets/img/welcome.jpg" alt="" />
    <div class="overlay"></div>
    <div class="background-content">
        <h1>Welcome @User.Identity?.Name</h1>
        <p>...your home for awesome bids!!!</p>
    </div>
</div>
<!-- /Background Image -->
<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/seller">Seller</a></li>
        <li class="breadcrumb-item active" aria-current="page">View Items</li>
    </ol>
</nav>
<!-- Breadcrumb -->
<!-- Account Section -->
<section class="account-section">
    <div class="container">
        <div class="alert welcome-alert" role="alert">
            Welcome to your page, @User.Identity?.Name!
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="avatar-box text-center">
                            <a href="" class="avatar">
                                <img src="~/assets/img/7309670.jpg" alt="" />
                            </a>
                            <p>@User.Identity?.Name <br /><span>email@email.com</span></p>
                        </div>
                        <hr />
                        <ul class="account-links">
                            <li><a href="/"><i class="fa-solid fa-dashboard"></i>&nbsp;Dashboard</a></li>
                            <li><a href="/seller/add-item"><i class="fa-solid fa-cart-plus"></i>&nbsp;Add Item</a></li>
                            @*<li><a href="edit-item"><i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit Item</a></li>*@
                            <li><a href="/seller/view-items"><i class="fa-solid fa-cart-arrow-down"></i>&nbsp;View Items</a></li>
@*                            <li><a href="edit-profile"><i class="fa-solid fa-address-card"></i>&nbsp;Edit Profile</a></li>
*@                            <li><a href="/account/logout"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <p>Here's a list of all your listed items on GBC Bids</p>
                        <hr />

                        <div class="items-list">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Item Name</th>
                                        <th scope="col">Item Condition</th>
                                        <th scope="col">Bid Price</th>
                                       @* <th scope="col">Highest Bid</th>
                                        <th scope="col">Lowest Bid</th>
                                        <th scope="col">No of Bids</th>
                                        <th scope="col">Highest Bidder</th>*@
                                        <th scope="col">Expiry</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th scope="row">@item.itemId</th>
                                            <td>@item.itemName</td>
                                            <td>@item.itemCondition</td>
                                            <td>@item.itemCost</td>
                                            <td>@item.endDate</td>
                                            <td><a href="/seller/edit-item/@item.itemId"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            <td><a href="/seller/delete-item/@item.itemId"><i class="fa-solid fa-trash"></i></a></td>
                                        </tr>
                                    }
                                   
                                   
                                   
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- /Account Section -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}